<div class="w-100 py-4 px-5 d-flex justify-content-between align-items-center">
  <img [src]="imgUrl" alt="logo" style="width: 140px;height: 140px;" />
  <h4 class="text-primary">Student Management System</h4>
  <div style="width: 50px;height: 50px;"></div>
</div>
<div class="w-100 px-3">
  <table class="table">
      <thead>
        <th>Class/Subject</th>
        <th>6th</th>
        <th>7th</th>
        <th>8th</th>
        <th>9th</th>
        <th>10th</th>
      </thead>
      <tbody>
        <tr>
          <th>Tamil</th>
          <th>
            <input class="form-control" disabled [value]="sixtamil"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="seventamil"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="eighttamil"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="ninetamil"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="tentamil"  />
          </th>
        </tr>
        <tr>
          <th>English</th>
          <th>
            <input class="form-control" disabled [value]="sixeng"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="seveneng"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="eighteng"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="nineeng"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="teneng"  />
          </th>
        </tr>
        <tr>
          <th>Maths</th>
          <th>
            <input class="form-control" disabled [value]="sixmaths"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="sevenmaths"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="eightmaths"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="ninemaths"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="tenmaths"  />
          </th>
        </tr>
        <tr>
          <th>Science</th>
          <th>
            <input class="form-control" disabled [value]="sixsci"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="sevensci"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="eightsci"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="ninesci"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="tensci"  />
          </th>
        </tr>
        <tr>
          <th>Social Science</th>
          <th>
            <input class="form-control" disabled [value]="sixss"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="sevenss"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="eightss"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="niness"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="tenss"  />
          </th>
        </tr>
        <tr>
          <th>Total</th>
          <th>
            <input class="form-control" disabled [value]="sixtot"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="seventot"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="eighttot"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="ninetot"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="tentot"  />
          </th>
        </tr>
        <tr>
          <th>Average</th>
          <th>
            <input class="form-control" disabled [value]="sixavg"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="sevenavg"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="eightavg"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="nineavg"  />
          </th>
          <th>
            <input class="form-control" disabled [value]="tenavg"  />
          </th>
        </tr>
      </tbody>
  </table>
</div>